@{
    ViewData["Title"] = "View";
}

<div id="content">
    <form asp-action="Create" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">
        <div class="form-horizontal">
            <h1>New Todo</h1>
        </div>
    </form>
</div>
