@model NotePro.Models.TodoViewModels.TodoViewModel

@{
    ViewData["Title"] = "View";
}
<div id="content">
    <form asp-action="Create" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">
        @Html.Partial("TodoContent")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

