@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using System;
@model NotePro.Models.TodoViewModels.TodoViewModel

<form asp-action="Update"  asp-route-id="@(Model.Id)">
    @Html.Partial("TodoContent")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
</form>
