@model NotePro.Models.Todo
<div class="form-horizontal">
    <h1>New Todo</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Text" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Text"  class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Priority" class="form-control" />
            <span asp-validation-for="Priority" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FinishDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div class="input-group date" id="finishDate" data-provide="datepicker">
                <input asp-for="FinishDate" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <span asp-validation-for="FinishDate" class="text-danger" />
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#finishDate').datetimepicker({ format: 'DD/MM/YYYY HH:mm', useCurrent:false});
                });
            </script>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Finished" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Finished" class="form-control" />
            <span asp-validation-for="Finished" class="text-danger" />
        </div>
    </div>
</div>
