body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.splitter {
    flex: 1 1 auto;
}

.np-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.np-row a {
    flex: 0 1 150px;
}

.np-column-1 {
    flex: 0 1 175px;
    margin: 2px 2px 2px 2px;
}

.np-column-2 {
    flex: 1 1 auto;
    margin: 2px 2px 2px 2px;
}

.np-column-3 {
    flex: 0 1 150px;
    margin: 2px 2px 2px 2px;
}

.content {
    margin-top: 7px;
    margin-bottom: 7px;
}

@media (max-width: 660px) {
    .np-collapsable-row {
        display: flex;
        flex-flow: column wrap;
    }

    .np-collapsable-row a {
        width: 100%;
        flex: 0 1 100%;
    }

    .np-column-1 {
        flex : 0 1;
    }

    .todoContentRow {
        display: flex;
        flex-flow: column wrap;
    }

    .content {
        border: 1px dashed darkgrey;
    }
}
