body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}
.splitter {
    flex :1 1 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.row a {
    flex : 0 1 150px;
}

.todoTitleRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#todoFinisheDatedDiv {
    flex-basis: 15%;
    padding: 5px 5px 5px 5px;
}
#todoTitlePriorityDiv {
    flex-basis: 70%;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} 

#todoEmptyDiv{
    flex-basis: 15%;
    padding: 5px 5px 5px 5px;
}

#todoTitleDiv {
    align-self: flex-start;
} 

#todoPriorityDiv {
    align-self: flex-end;
} 


.todoContentRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
#todoFinishedDiv {
    flex-basis: 15%;
    padding: 5px 5px 5px 5px;
}
#todoTextDiv {
    flex-basis: 70%;
    padding: 5px 5px 5px 5px;
}
#todoTextDiv textarea {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.content {
    margin-top: 7px;
    margin-bottom: 7px;
}
#todoEditDiv {
    flex-basis: 15%;
}
#todoEditDiv a {
    width: 100%;
    height: 100%;
}
@media (max-width: 660px) {
    .collapsable-row  {
        display: flex;
        flex-flow: column wrap;
    }

    .collapsable-row a {
        width: 100%;
        flex : 0 1 100%;
    }
    .todoContentRow {
        display: flex;  
        flex-flow: column wrap;
    }
    #todoEditDiv a {
        width: 150px;
    }
    .content {
        border: 1px dashed darkgrey;
    }
}