body {
    background-color: black;
    color: white;
}

.btn {
    background: black;
    color: white;
}

.jumbotron {
    background: darkblue;
    color: white;
}

textarea {
    background: darkblue;
}

.well {
    background: darkblue;    
}

